<% provide(:title, 'Главная') %>

<% if @posts.any? %>
  <h1 class="left">Последние заметки (всего <%= @posts.count %>)</h1>
  <ol class="posts">
    <% @posts.each do |post| %>
    <li>
      <span class="name"><%= post.name %></span>
      <span class="content"><%= post.content %></span>
      <span class="author">
        Автор: <%= link_to User.find(post.user_id).name, user_path(User.find(post.user_id)) %>,
      </span>
      <span class="timestamp">
        <%= post.created_at.strftime("%d.%m.%y") %>
      </span>
    </li>
    <% end %>
  </ol>
  <%= will_paginate @posts %>
<% else %>
  <h1>Пока еще нет ни одного поста...</h1>
<% end %>
