<% provide(:title, 'Редактирование профиля') %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="span8">
    <h1>Редактирование профиля</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p><%= gravatar_for @user, size: 25 %>
      <a href="http://gravatar.com/emails" target="_blank">Изменить аватар</a></p>

      <%= f.label :name, "Имя пользователя:" %>
      <%= f.text_field :name %>

      <%#= f.label :email, "Адрес электронной почты:" %>
      <%#= f.text_field :email %>

      <%= f.label :password, "Пароль:" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Ещё раз пароль:" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
